#!/bin/bash
#
# requires:
#  bash
#  chroot
#
set -x
set -e

echo "doing execscript.sh: $1"

cat <<'EOS' | chroot $1 bash -c "cat | bash"
## change root passwd
echo root:root | chpasswd

## instlall package
distro_pkgs="
 vim-minimal
 screen
 git
 make
 sudo
"
yum install -y ${distro_pkgs}

cd /tmp

echo "git clone."
[[ -d env-bootstrap ]] || git clone git://github.com/hansode/env-bootstrap.git env-bootstrap
cd env-bootstrap
pwd

echo "add work user."
./add-work-user.sh

echo "change normal user password"
eval $(./detect-linux-distribution.sh)
devel_user=$(echo ${DISTRIB_ID} | tr A-Z a-z)
devel_home=$(getent passwd ${devel_user} 2>/dev/null | awk -F: '{print $6}')

echo ${devel_user}:${devel_user} | chpasswd
egrep -q ^umask ${devel_home}/.bashrc || {
  echo umask 022 >> ${devel_home}/.bashrc
}

cd /tmp
rm -rf gist-1108422
EOS
