# -*-Shell-script-*-
#
# description:
#  The VM
#
# requires:
#  bash
#
# imports:
#  disk:       unmapptab
#  utils:      is_dev
#  hypervisor: umount_ptab
#

##

function trap_vm() {
  local disk_filename=$1 chroot_dir=$2
  [[ -d ${chroot_dir} ]] && umount_ptab ${chroot_dir} || :
  is_dev ${disk_filename} || {
    unmapptab ${disk_filename}
    # TODO
    # * don't delete raw file in this implement.
    # * need to improve trap/signals
    #
    # rm -f ${disk_filename}
  }
}
