# -*-Text-file-*-
#
# requires:
#  vmbuilder.sh
#
# description:
#  making partition table using 'parted' command
#
# usage:
#  $ vmbuilder.sh --xpart=[FILE]
#
# format:
#  + [mount-point] [size(MB)]
#  + vmbuilder.sh ignores '^#|^$' and more than 3 column(s).
#
/boot  64 # p1 | primary 1 |
root  224 # p2 | primary 2 |
/vz     4 # p3 | primary 3 |
#      -- # p4 | extended  | ----
/usr  384 # p5 | logical 1 |
/var  128 # p6 | logical 2 |
swap    4 # p7 | logical 3 |
/tmp    4 # p8 | logical 4 |
/opt    4 # p9 | logical 5 |
