# -*-Text-file-*-
#
# requires:
#  vmbuilder.sh
#
# description:
#  configuring network interfaces
#
# usage:
#  $ vmbuilder.sh --nictab=[FILE]
#
ifname=eth0 iftype=ethernet bootproto=none
ifname=vlan2000 ip=192.0.2.10 mask=255.255.255.0 net=192.0.2.0 bcast=192.0.2.255 gw=192.0.2.1 iftype=vlan physdev=eth0
